---
layout: default
salutation: true
topic: ""
body_class: "home"
lang: es
---

<!-- h-entry microformat used: http://microformats.org/wiki/h-entry -->
<article class="content h-entry">
  <div class="layout-2col post-content">
    <section class="col intro">
      <p class="salutation">Oigan todos,</p>
      <p class="p-summary">
        Me llamo Bradford Fults. Soy pensador, líder y amigo, y vivo en lo
        profundo del corazón de Texas, en la ciudad de Austin. Disfruto de leer,
        mirar películas, explorar casas, comer tacos y beber café, whisky y vino
        tinto.
      </p>
      <p>
        Vivo mi vida y elijo mis acciones de acuerdo con unos <em> principios</em>
        de mi propio ensamblaje. Mucha gente deriva sus principios basándose en
        una religión o en instituciones sociales, o ellos viven en una forma más
        reactiva, enfocándose en la inmediatez en vez de conectar sus acciones
        con un marco completo. Creo que mis principios funcionan bien para mi, y
        siempre me deleita encontrar otras personas que intentan vivir por sus
        propios principios pensativos.
      </p>
    </section>
    <section class="col principles">
      <h2>Los principios de Bradford</h3>
      <spicy-sections>
        <h3 class="quality">La calidad</h3>
        <p>
          Como un primer principio, <em>la calidad</em> me guía para realizar la
          mejor versión de cada rol que represento. Ya sea con el trabajo, las
          relaciones, el esparcimiento o la caridad, aspiro a perseguir mi mejor
          versión con la mayor calidad posible. No por un deseo en particular,
          sino porque valoro la calidad en el proceso mismo—la calidad como un
          arte, una práctica y una disciplina. Yo siempre debo mejorar cómo
          pienso y actúo.
        </p>
        <h3 class="liberty">La libertad</h3>
        <p>
          Un principio para recordarme que todo es afectado por la distribución
          relativa del poder, y cómo usamos ese poder como personas es
          importante. Desde los inicios de la civilización, han habido sólo unos
          pocos quienes han mantenido el poder en la mayoría de los grupos de
          gente. Creo que es mi deber abrazar y extender <em>la libertad</em> a
          tanta gente como sea posible, para equilibrar la distribución del
          poder.
        </p>
        <h3 class="perspective">La perspectiva</h3>
        <p>
          El fondo de todos mis pensamientos es <em>la perspectiva</em>, que
          me recuerda que cada persona tiene una perspectiva única, compuesta de
          sus propias experiencias y posiblemente principios. Jamás tendré la
          imagen completa de cualquier situación y yo debo escuchar, pensar y
          actuar con el cuidado y el conocimiento que vienen de ser una
          pequeña parte de una gran totalidad.
        </p>
      </spicy-sections>
    </section>
  </div>
  <div class="layout-2col post-content">
    <section class="col">
      <h2><a href="/negocios/">Negocios</a></h2>
      <p>
        Escribo sobre ser gerente, líder organizacional, ingeniero de software y
        muchas cosas intermedias.
      </p>
      <p class="read-on"><a href="/negocios/">Leer más</a></p>
    </section>
    <section class="col">
      <h2><a href="/seccion-personal/">Personal</a></h2>
      <p>
        Escribo sobre ser una persona y ciudadano excéntrico y pensativo, y
        sobre vivir y opinar a mi manera particular.
      </p>
    <p class="read-on"><a href="/seccion-personal/">Leer más</a></p>
    </section>
  </div>
</article>

<ul class="social-links">
  <li>
    <a href="https://github.com/h3h" rel="me" target="_blank">
      {% include img/github.svg %}
    </a>
  </li>
  <li>
    <a href="https://atx.pub/@h3h" rel="me" target="_blank">
      {% include img/mastodon.svg %}
    </a>
  </li>
  <li>
    <a href="https://www.google.com/maps/contrib/101441907155503620906/reviews" rel="me" target="_blank">
      {% include img/map.svg %}
    </a>
  </li>
  <li>
    <a href="https://medium.com/@h3h" rel="me" target="_blank">
      {% include img/medium.svg %}
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/in/bradfordfults" rel="me" target="_blank">
      {% include img/linkedin.svg %}
    </a>
  </li>
  <li>
    <a href="https://instagram.com/h3h/" rel="me" target="_blank">
      {% include img/instagram.svg %}
    </a>
  </li>
  <li>
    <a href="https://threads.net/@h3h" rel="me" target="_blank">
      {% include img/threads.svg %}
    </a>
  </li>
</ul>
