---
layout: default
salutation: true
topic: ""
body_class: "home"
lang: en
---

<!-- h-entry microformat used: http://microformats.org/wiki/h-entry -->
<article class="content h-entry">
  <div class="layout-2col post-content">
    <section class="col intro">
      <p class="salutation">Hey y’all,</p>
      <p class="p-summary">
        I am Bradford Fults, a thinker, leader, and friend living deep in the
        heart of Texas, in the city of Austin. I enjoy reading, watching movies,
        looking at houses, eating tacos, and drinking coffee, whiskey and
        red&nbsp;wine.
      </p>
      <p>
        I live my life and choose my actions according to <em>principles</em> of
        my own assembly. Many people derive their principles from religion or
        social institutions, or they live in a more reactive manner, focused on
        immediacy instead of tying their actions into an overall framework. I find
        that my principles work well for me, and am always delighted to find those
        who are also attempting to live by thoughtful principles of
        their&nbsp;own.
      </p>
    </section>
    <section class="col principles">
      <h2>Bradford’s Principles</h3>
      <spicy-sections>
        <h3 class="quality">Quality</h3>
        <p>
          As a first principle, <em>quality</em> guides me toward performing the
          best version of every role I fill. Whether in work, relationships,
          recreation, or charity, I aim to pursue them with as much quality as
          possible. Not because of any particular desired end result, but because I
          value quality in the process itself—quality as a craft, a practice, and a
          discipline. I should always be improving how I think and how I&nbsp;act.
        </p>
        <h3 class="liberty">Liberty</h3>
        <p>
          A principle to remind me that everything is affected by the relative
          distribution of power, and that how we as people use that power is
          important. From the beginning of civilization there have been only a few
          who hold power in most any given group of people. I believe it is my duty
          to embrace and extend <em>liberty</em> to as many people as possible,
          evening out the power&nbsp;distribution.
        </p>
        <h3 class="perspective">Perspective</h3>
        <p>
          Forming the background for everything else, <em>perspective</em>
          reminds me that every single person has a unique perspective, made up
          of their own experiences, and possibly principles. I’ll never have the
          full picture of any situation, and I should listen, think and act with
          the care and knowledge that come from being one part of a greater
          whole.
        </p>
      </spicy-sections>
    </section>
  </div>
  <div class="layout-2col post-content">
    <section class="col">
      <h2><a href="/business/">Business</a></h2>
      <p>
        I write about being a manager, an organizational leader, a software
        engineer and many things between.
      </p>
      <p class="read-on"><a href="/business/">Read on</a></p>
    </section>
    <section class="col">
      <h2><a href="/personal/">Personal</a></h2>
      <p>
        I write about being an eccentric and thoughtful citizen, living and
        opining in my own particular ways.
      </p>
      <p class="read-on"><a href="/personal/">Read on</a></p>
    </section>
  </div>
</article>

<ul class="social-links">
  <li>
    <a href="https://github.com/h3h" rel="me" target="_blank">
      {% include img/github.svg %}
    </a>
  </li>
  <li>
    <a href="https://atx.pub/@h3h" rel="me" target="_blank">
      {% include img/mastodon.svg %}
    </a>
  </li>
  <li>
    <a href="https://www.google.com/maps/contrib/101441907155503620906/reviews" rel="me" target="_blank">
      {% include img/map.svg %}
    </a>
  </li>
  <li>
    <a href="https://medium.com/@h3h" rel="me" target="_blank">
      {% include img/medium.svg %}
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/in/bradfordfults" rel="me" target="_blank">
      {% include img/linkedin.svg %}
    </a>
  </li>
  <li>
    <a href="https://instagram.com/h3h/" rel="me" target="_blank">
      {% include img/instagram.svg %}
    </a>
  </li>
  <li>
    <a href="https://threads.net/@h3h" rel="me" target="_blank">
      {% include img/threads.svg %}
    </a>
  </li>
</ul>
