---
layout: default
topic: recreation
---

<!-- h-entry microformat used: http://microformats.org/wiki/h-entry -->
<article class="content h-entry">
  <h2>Recreation</h2>
  {% if site.categories.recreation %}
  <ul class="post-list">
    {% for post in site.categories.recreation %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> &mdash;
      <span class="published">{{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="p-summary">
    It’s recreation time.
  </p>
  {% endif %}
</article>
