---
layout: default
topic: personal
body_class: personal-landing
lang: es
lang_ref: personal
---

<!-- h-entry
  microformat
  used:
  http://microformats.org/wiki/h-entry -->
<article class="content post h-entry">
  <div class="post-content">
    <h2>Personal</h2>
    <p>
      Todos nosotros vivimos vidas complejas y multifacéticas. Muchos
      profesionales mantienen una estricta separación entre sus vidas
      personales y profesionales, y hay muchas buenas razones para eso. Yo
      adopto un enfoque más integral, ofreciéndome como un todo a quien quiera
      profundizar más.
    </p>
    <p>
      Como parte de revelar más mi vida personal, intento demostrar la
      consistencia de mis intenciones de vivir una vida considerada y
      principista, en todos los aspectos. También espero de mis lectores más
      madurez, consideración y respeto para los límites sociales. Me interesa
      aprender desde más perspectivas y también conversar sobre los temas que
      escribo, pero también espero que cualquier persona que se sienta incómoda
      o tenga diferencias de opinión pueda respetar los límites que nos
      permitan relacionarnos en cualquier nivel que hayamos elegido.
    </p>
    <p>
      Como corresponde, usted encontrará el siguiente aviso en mis páginas
      personales si es nuevo en la sección:
    </p>

    <div class="banner-preview">
      {% include banner_personal.html %}
    </div>

    <p>
      Estoy abierto a recibir pensamientos y retroalimentaciones sobre lo que
      escribo, pero tampoco necesito estar de acuerdo con todos sobre todos los
      temas. Yo respeto a todos los que intentan seriamente expresar su
      posición sobre temas sociales. Gracias por su respeto a cambio.
    </p>

    <div class="layout-2col split23">
      <section class="col section-list essays">
        <h3>Ensayos</h3>
        {% if site.categories.personal %}
          {% assign post_list = site.categories.personal
            | where: 'tag', 'essay'
            | where: 'lang', page.lang %}
          {% include post_list.html %} {% else %}
          <p class="p-summary">Es el tiempo personal.</p>
        {% endif %}
      </section>

      <section class="col section-list asides">
        <h3>Apartes</h3>
        {% if site.categories.personal %}
          {% assign post_list = site.categories.personal
            | where: 'tag', 'aside'
            | where: 'lang', page.lang %}
          {% include post_list.html %} {% else %}
          <p class="p-summary">Es el tiempo personal.</p>
        {% endif %}
      </section>
    </div>

    {% if page.lang == "en" %}
      {% assign other_lang = 'es' %}
    {% else %}
      {% assign other_lang = 'en' %}
    {% endif %}
    {% if page.lang_ref %}
      {% assign other_post = site.pages
        | where: 'lang_ref', page.lang_ref
        | where: 'lang', other_lang
        | first %}
      {% include lang_ref_link.html %}
    {% endif %}
  </div>
</article>
