---
---

@import "palette";
@import "normalize.css";

// =============================================================================
// Globals
// =============================================================================

* {
  box-sizing: border-box;
}
html,
body {
  font-size: 18px;
  height: 100vh;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  transition: background-color 0.5s, color 0.5s;

  display: grid;
  grid: "header" auto "main" 1fr "footer" auto / 100%;

  background-color: $color-dark-bg-base;
  color: $color-dark-text-base;
}

b,
em,
i,
strong {
  color: lighten($color-dark-text-base, 15%);
}

::selection {
  background-color: $color-dark-text-highlight;
}

b,
strong {
  font-weight: 600;
}

a:link {
  text-decoration: none;
}
a:link,
a:visited {
  color: $color-dark-text-highlight;
}
a:hover,
a:active {
  color: $color-dark-punch;
}

label:hover {
  cursor: pointer;
}

// =============================================================================
// Header
// =============================================================================

.page-header {
  grid-area: header;

  background: url("/img/texas-light.svg") no-repeat center 95%/1.5em;
  box-sizing: border-box;
  margin: 1rem auto;
  padding-bottom: 0.25rem;
  text-align: center;

  .project-name {
    line-height: 0.9em;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto Slab", Georgia, serif;

    @media screen and (min-width: 64em) {
      font-size: 2.25rem;
    }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      font-size: 2.25rem;
    }
    @media screen and (max-width: 42em) {
      font-size: 1.75rem;
    }
  }

  .project-tagline {
    color: darken($color-dark-text-base, 20%);
    font-size: 1rem;
    font-weight: normal;
    margin: 0.25rem auto 2rem;
  }

  a.header-link {
    color: darken($color-dark-text-base, 20%);
  }
}

.home .page-header::before {
  content: " ";
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  text-align: center;
  margin-bottom: 0.5rem;

  background-image: url("/img/headshot.jpg");
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 10rem;
}

// =============================================================================
// Main content
// =============================================================================

.main-content {
  grid-area: main;
  max-width: 64rem;

  @media screen and (min-width: 64em) {
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.25rem 3rem 0.5rem;
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    padding: 1.15rem 4rem 1rem;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 42em) {
    padding: 1rem 0 0.5rem;
    font-size: 1rem;
  }

  article {
    padding: 0.5rem 1rem;
    background-color: darken($color-dark-bg-base, 10%);
    font-family: "Source Serif 4", Georgia, Times, serif;

    @media screen and (min-width: 42em) {
      border-radius: 0.5rem;
      box-shadow: 3px 3px 5px 0 $color-dark-bg-base;
    }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      padding: 0.5rem 2rem;
    }
    @media screen and (min-width: 64em) {
      padding: 1rem 3rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-dark-text-base;
    }

    h1.post-title {
      color: $color-dark-text-highlight;
    }
  }

  article.post {
    max-width: 48rem;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-dark-text-highlight;
    font-family: "Roboto Slab", Georgia, serif;
    margin-bottom: 1rem;

    @media screen and (min-width: 64em) {
      margin-top: 2rem;
    }
    @media screen and (max-width: 64em) {
      margin-top: 0.25rem;
    }
  }
  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.15rem;
  }
}
.main-content h1 {
  font-size: 2.2rem;

  @media screen and (max-width: 50em) {
    font-size: 1.85rem;
    margin: 1.25rem 0 2rem;
    text-align: center;
  }
}
.main-content:first-child {
  margin-top: 0;
}
.main-content img {
  max-width: 100%;
}
.main-content p {
  margin-bottom: 1em;
}
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, Monaco, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  border-radius: 0.3rem;
}
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, Monaco, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: normal;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}
.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.main-content .emdash {
  padding: 0 0.1rem;
}
.main-content .highlight {
  margin-bottom: 1rem;
}
.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.main-content .highlight pre,
.main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
}
.main-content pre code,
.main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
  content: normal;
}

.main-content div.svg {
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.main-content ul,
.main-content ol {
  margin-top: 0;
}
.main-content ul {
  list-style-type: square;
}
.main-content li {
  margin: 0.8333rem 0;
}
.main-content blockquote {
  padding: 0 1rem;
  margin: 2rem 0.75rem;
  border-left: 3px solid;
  border-color: darken($color-dark-text-base, 25%);
}
.main-content blockquote > :first-child {
  margin-top: 0;
}
.main-content blockquote > :last-child {
  margin-bottom: 0;
}
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
}
.main-content table th {
  font-weight: bold;
}
.main-content table th,
.main-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
.main-content dl {
  padding: 0;
}
.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 2rem auto;
  border: none;
  border-top: 3px solid;
  border-color: $color-dark-punch;
  width: 33%;
}
.main-content p.pullquote {
  color: darken($color-dark-text-base, 25%);
  font-size: 133%;
  margin: 2.5rem;
}

.main-content .post-meta {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 1.5rem;
  opacity: 0.4;
  padding-bottom: 0.5rem;

  @media screen and (max-width: 42em) {
    flex-direction: column;
  }

  p {
    flex: 1;
    margin: 0.5rem 0;
    text-align: center;

    span::before {
      content: " ≫ ";
    }
  }
}

.main-content ul.post-index {
  li {
    padding-left: 0.5rem;
  }

  li.book-review {
    list-style-image: url("/img/book.svg");
  }

  .book-rating {
    margin-left: 0.5rem;
  }

  .published {
    display: block;
    font-size: 0.7em;
    opacity: 70%;
  }
}

.main-content ul.social-links {
  display: flex;
  list-style-type: none;
  margin: 2rem auto;
  width: 28rem;

  li {
    flex: 1;
  }

  a:link {
    color: $color5;
    transition: color 0.33s;
  }
  a:hover {
    color: $color-dark-text-highlight;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}

.main-content section.essays ul.post-index .published {
  display: none;
}

.home .main-content {
  max-width: 90rem;
}

// =============================================================================
// Columnar layout
// =============================================================================
.layout-2col {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1 0 16rem;
    margin: 1rem;

    h2 {
      color: $color-dark-punch;
      text-align: center;
    }
  }
  @media screen and (min-width: 54em) {
    .col:first-of-type {
      margin-right: 3rem;
    }
  }
  &.split23 {
    .col:first-of-type {
      flex: 2 0 16rem;
    }
  }
}

// =============================================================================
// Specific stray styles
// =============================================================================

.pagination {
  text-align: center;
}

.main-content .book-review {
  p.book-author {
    margin: 0;
    color: $color-dark-pull;
  }

  p.book-rating {
    font-size: 2.5rem;
    margin: 1.33rem 0 0;
    text-align: center;

    .book-rating-number {
      display: none;
    }
  }

  p.book-spoilers {
    font-size: 0.9rem;
    margin: 0 0 1.33rem;
    text-align: center;
  }
}

.main-content p.read-on {
  text-align: right;

  a::after {
    content: " →";
  }
}

.main-content p.salutation {
  font-family: "Rancho", "Source Serif 4", Georgia, serif;
  font-size: 2.65em;
  margin: 0 0 2rem;
  padding: 0;
  color: $color-dark-punch;
}

section.principles {
  h3 {
    color: $color-dark-text-highlight;
  }

  spicy-sections {
    --const-mq-affordances: [screen and (max-width: 54em)] collapse | [screen and (min-width: 54em)] tab-bar;
    display: block;

    h3 {
      cursor: pointer;
    }

    &[affordance="tab-bar"] {
      h3 {
        margin-right: 2rem;
      }

      h3[tabindex="0"] {
        border-bottom: 4px solid $color5;
      }
    }
  }
}

section.personal-banner {
  background-color: rgb(103, 191, 229);
  color: $color-light-text-base;
  border-radius: 0.5em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 2em auto;
  padding: 1em 2em;
  max-width: 46rem;

  h2 {
    color: $color-light-text-base;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    margin: 0;

    svg {
      height: 1.75ex;
      width: 1.75ex;
      position: relative;
      top: 0.25ex;
    }
  }
  a:link,
  a:visited {
    color: lighten($color-light-text-base, 20%);
  }
  a:hover,
  a:active {
    color: $color-dark-punch;
  }
  em {
    color: $color-light-text-base;
  }
  p {
    margin: 0.33em 0;

    span {
      white-space: nowrap;
    }
  }
}

.banner-preview {
  margin: 2rem 10%;

  section.personal-banner {
    font-size: 12px;
  }
}

body.from-personal > section.main-content > section.personal-banner {
  display: none;
}

// =============================================================================
// Footer
// =============================================================================

.site-footer {
  grid-area: footer;
  color: darken($color-dark-text-base, 20%);

  @media screen and (max-width: 42em) {
    font-size: 0.8rem;
    text-align: center;
  }
  @media screen and (min-width: 42em) {
    font-size: 0.75rem;
    text-align: right;
  }

  margin: 2rem 2rem 0;
  padding-top: 2rem;

  a.privacy:link,
  a.privacy:visited {
    color: darken($color-dark-text-base, 20%);
  }
}

// =============================================================================
// Side nav
// =============================================================================

nav.main {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  width: min-content;

  @media screen and (min-width: 36em) {
    margin-top: 2rem;
  }

  a.current {
    color: $color-dark-punch;
  }

  p.headshot {
    margin: 0 1rem 0 0;

    img {
      border-radius: 128px;
      max-width: 128px;
    }
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    @media screen and (max-width: 36em) {
      text-align: right;

      & > li {
        margin: 0.25rem 0;
      }
    }

    @media screen and (max-width: 64em) {
      a {
        padding: 0 1rem;
      }
    }
  }
}

.home nav.main {
  p.headshot {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
  }
  ul > li a {
    display: inline;
    margin: 0 1rem;
  }
  ul > li:last-of-type {
    list-style-type: square;
    margin-left: 2rem;
  }
}
