<section class="personal-banner">
  <h2>
    {% include exclamation.svg %}
    Personal Content Follows
  </h2>
  <p>
    Hi friend,
  </p>
  <p>
    Content published in the <a href="/personal">Personal</a> section of this
    website is, as it sounds, <em>personal</em></span>. I hope you will find
    interesting content that resonates with you!
  </p>
  <p>
    Please <a href="/personal">read my intro to this section</a>, and mind your
    own comfort and boundaries.
  </p>
  <p>My best,<br>Bradford</p>
</section>
