<section class="site-footer">
  {% if page.lang and page.lang == "es" %}
  <p>
    <a class="privacy" href="/privacy/">La noticia de privacidad</a>
    &middot; Todo el contenido &amp; código
    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">
      CC-BY</a
    >
    &amp;&amp;
    <nobr>&copy; 2025 Bradford Fults</nobr>
    &rarr;
    <a rel="me" href="https://atx.pub/@h3h">@h3h@atx.pub</a>
  </p>
  {% else %}
  <p>
    <a class="privacy" href="/privacy/">Privacy Notice</a>
    &middot; All content &amp; code
    <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">
      CC-BY</a
    >
    &amp;&amp;
    <nobr>&copy; 2025 Bradford Fults</nobr>
    &rarr;
    <a rel="me" href="https://atx.pub/@h3h">@h3h@atx.pub</a>
  </p>
  {% endif %}
</section>
