<script type="text/javascript">
// -- Theme Toggler --
document.addEventListener("DOMContentLoaded", function() {
  var elToggle = document.getElementById("theme-toggler")
  if (elToggle) {
    elToggle.addEventListener("click", function() {
      if (hasClass(document.documentElement, "theme-light")) {
        if (window.localStorage) localStorage.setItem('theme', 'dark')
        removeClass(document.documentElement, "theme-light", "theme-dark")
      }
      else {
        if (window.localStorage) localStorage.setItem('theme', 'light')
        removeClass(document.documentElement, "theme-dark", "theme-light")
      }
    })
  }
})
</script>
