{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-10Z97LZD32"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}

<script>
  // -- Spicy Sections Initializer --
let style = document.head.appendChild(
  Object.assign(document.createElement('style'), {
    textContent: 'spicy-sections:not(:defined) { visibility: hidden; }'
  })
);
// remove these styles after one second
setTimeout(() => style.remove(), 1000);

  // -- Personal Banner Hider for Personal Pages --
document.addEventListener('DOMContentLoaded', () => {
  let rxPersonal = /\/personal\b/;
  if (rxPersonal.test(location.href) && rxPersonal.test(document.referrer)) {
    document.body.className += " from-personal"
  }
});
</script>

<script type="module" src="/script/SpicySections.js"></script>
