<script type="text/javascript">
function hasClass(ele, cls) {
  return ele.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'))
}

function addClass(ele, cls) {
  if (!this.hasClass(ele, cls)) {
    ele.className += (ele.className.length == 0 ? '' : " ") + cls
  }
}

function removeClass(ele, cls, clsReplace) {
  if (hasClass(ele, cls)) {
    if (clsReplace) {
      clsReplace = ' ' + clsReplace
    }
    else {
      clsReplace = ' '
    }
    var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)')
    ele.className = ele.className.replace(reg, clsReplace)
  }
}

// -- Theme Setter on Load --
const hasLocalPreference = (window.localStorage && localStorage.getItem('theme') !== null)
const agentPrefersDark = (window.matchMedia && matchMedia('(prefers-color-scheme: dark)').matches === true)
if (hasLocalPreference) {
  const localPref = localStorage.getItem('theme')
  addClass(document.body, `theme-${localPref}`)
}
else if (agentPrefersDark) {
  addClass(document.body, "theme-dark")
}
else {
  addClass(document.body, "theme-light")
}

// -- Theme Toggler --

document.addEventListener("DOMContentLoaded", function() {
  var elToggle = document.getElementById("theme-toggler")
  if (elToggle) {
    elToggle.addEventListener("click", function() {
      if (hasClass(document.body, "theme-light")) {
        if (window.localStorage) localStorage.setItem('theme', 'dark')
        removeClass(document.body, "theme-light", "theme-dark")
      }
      else {
        if (window.localStorage) localStorage.setItem('theme', 'light')
        removeClass(document.body, "theme-dark", "theme-light")
      }
    })
  }
})
</script>
