article.content {
  flex: 1;
  font-weight: 300;
  font-size: 16pt;

  @media screen and (max-width: 64em) {
    font-size: 14pt;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  html.theme-dark & {
    background-color: darken($color-dark-bg-base, 10%);

    @media screen and (min-width: 42em) {
      border-radius: 0.5rem;
      box-shadow: 3px 3px 5px 0 $color-dark-bg-base;
    }

    b,
    em,
    i,
    strong {
      color: lighten($color-dark-text-base, 15%);
    }

    ::selection {
      background-color: $color-dark-punch;
    }
  }
  html.theme-light & {
    background-color: lighten($color-light-bg-base, 5%);

    @media screen and (min-width: 42em) {
      border-radius: 0.5rem;
      box-shadow: 3px 3px 5px 0 lighten($color-light-text-base, 50%);
    }

    b,
    em,
    i,
    strong {
      color: darken($color-light-text-base, 15%);
    }

    ::selection {
      background-color: $color-light-punch;
    }
  }
}

article.content.book-review {
  p.book-author {
    margin: 0;

    html.theme-dark & {
      color: $color-dark-pull;
    }
    html.theme-light & {
      color: $color-light-pull;
    }
  }

  p.book-rating {
    font-size: 2.5rem;
    margin: 1.33rem 0 0;
    text-align: center;

    .book-rating-number {
      display: none;
    }
  }

  p.book-spoilers {
    font-size: 0.9rem;
    margin: 0 0 1.33rem;
    text-align: center;
  }
}

article.content li {
  margin: 0.8333rem 0;
}

article.content p.salutation {
  font-family: "Quicksand", Georgia, serif;
  font-size: 1.65em;
  margin: 1rem 0 -0.833rem;
  padding: 0;

  html.theme-dark & {
    color: $color-dark-punch;
  }
  html.theme-light & {
    color: $color-light-punch;
  }
}

article.content .emdash {
  padding: 0 0.1rem;
}

article.content .post-meta {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 1.5rem;
  opacity: 0.4;
  padding-bottom: 0.5rem;

  @media screen and (max-width: 42em) {
    flex-direction: column;
  }

  p {
    flex: 1;
    margin: 0.5rem 0;
    text-align: center;
  }
}
