// https://coolors.co/303030-4c166b-bc96e6-0095d5-c5c5c5

$color1: rgba(48, 48, 48, 1);
$color2: rgba(117, 59, 228, 1);
$color3: rgba(188, 150, 230, 1);
$color4: rgba(0, 149, 213, 1);
$color5: rgb(190, 190, 190);

/* Human Color Names */
$color-light-bg-base: $color5;
$color-light-bg-alt: $color3;
$color-light-punch: $color4;
$color-light-brand: $color2;
$color-light-text-base: $color1;
$color-light-text-highlight: $color2;
$color-light-pull: lighten($color-light-text-base, 15%);

$color-dark-bg-base: $color1;
$color-dark-bg-alt: $color2;
$color-dark-punch: $color4;
$color-dark-brand: $color3;
$color-dark-text-base: darken($color5, 15%);
$color-dark-text-highlight: $color3;
$color-dark-pull: darken($color-dark-text-base, 15%);
