body.theme-light {
  background-color: $color-light-bg-base;
  color: $color-light-text-base;

  a:link,
  a:visited {
    color: $color-light-text-highlight;
  }

  a:hover,
  a:active {
    color: $color-light-punch;
  }

  h1 {
    color: $color-light-text-highlight;
  }

  .page-header {
    background-image: url(/img/texas-dark.svg);
  }

  .project-tagline,
  .site-footer {
    color: lighten($color-light-text-base, 20%);
  }
}

body.theme-dark {
  background-color: $color-dark-bg-base;
  color: $color-dark-text-base;

  a:link,
  a:visited {
    color: $color-dark-text-highlight;
  }

  a:hover,
  a:active {
    color: $color-dark-punch;
  }

  h1 {
    color: $color-dark-text-highlight;
  }

  .page-header {
    background-image: url(/img/texas-light.svg);
  }

  .project-tagline,
  .site-footer {
    color: darken($color-dark-text-base, 20%);
  }
}
