<!DOCTYPE html>
<html lang="en" class="bare">

  {% include head.html %}

  <style type="text/css">
  .bare {
    height: 80%;
  }
  .bare  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .bare h1 {
    cursor: default;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-align: center;
  }
  </style>
  <body>

    <section class="main-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </body>
</html>
