---
layout: default
---
<article class="post content book-review" itemprop="mainEntity" itemscope itemtype="https://schema.org/Book">
    <div class="post-content" itemprop="review" itemscope itemtype="https://schema.org/Review">
        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.book_name | xml_escape }}</h1>
            <p class="book-author">by <span itemprop="author">{{ page.book_author | xml_escape }}</span></p>
            <p class="book-rating">
                {%- assign book_rating = page.book_rating -%}
                {% include book_stars.html %}
                <span class="book-rating-number" itemprop="reviewRating">{{ page.book_rating }}</span>
            </p>
            <p class="book-spoilers">
            {%- if post.book_spoilers %}
                (<strong>WARNING:</strong> Spoilers ahead!)
            {% else %}
                (No spoilers in this review.)
            {% endif -%}
            </p>
        </header>
        <div class="book-review-body" itemprop="reviewBody">
            {{ content }}
        </div>
    </div>
    <div class="post-meta">
        {% if page and page.categories %}
        <p>
            <a href="/{{page.categories | first}}">{{page.categories | first | capitalize}}</a>
        </p>
        {% endif %}
        <p>Bradford Fults</p>
        <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>
</article>
